<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Contact us</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="container mt-3 " style="margin:0 auto">
    <h1>Contact Us</h1>
       <p>
        This is a platform developed by a single user where one can do almost everything they can imagine to do with a blogging site contact the support of the website at the following email adress <a href="">bloggzzsupport@gmail.com</a>
       </p>
    </div>
    <div>
      <%- include('./partials/footer') %>
    </div>
    <%- include('./partials/scripts') %>
</body>
</html>
