<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Cookies</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="container mt-3 " style="margin:0 auto">
<h1>Cookies</h1>
        <p>This website uses cookies solely for security and login purposes. Cookies help authenticate users, maintain secure sessions, and protect against unauthorized access. We do not use cookies for tracking, advertising, or collecting personal data beyond what is necessary for authentication. By using this website, you consent to the use of cookies for these essential security functions. If you disable cookies in your browser settings, some features, such as login and account management, may not function properly. We prioritize user privacy and ensure that cookie usage is minimal and strictly for maintaining a secure and seamless user experience.</p>

    </div>
    <div>
      <%- include('./partials/footer') %>
    </div>
    <%- include('./partials/scripts') %>
</body>
</html>
