<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Customers</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="container mt-3 " style="margin:0 auto">
<h1>Customers</h1>
       <p>
        This platform is built for everyone—writers, creators, professionals, and hobbyists alike. No matter your background, expertise, or niche, you have the freedom to share your thoughts, ideas, and stories without restrictions. The best part? It’s entirely free! There are no fees, no premium upgrades, and no barriers to entry. Whether you’re blogging for fun, business, or activism, this platform gives you full creative control. Express yourself openly, connect with a diverse audience, and grow your voice in a space that values accessibility and inclusivity. Everyone has a story to tell—here, you can tell yours for free.
       </p>
    </div>
    <div>
      <%- include('./partials/footer') %>
    </div>
    <%- include('./partials/scripts') %>
</body>
</html>
