<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Customers</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="container mt-3 " style="margin:0 auto">
       <p>
        No faq's yet Loading the contents...
       </p>
    </div>
    <div>
      <%- include('./partials/footer') %>
    </div>
    <%- include('./partials/scripts') %>
</body>
</html>