<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Overview</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="container mt-3 " style="margin:0 auto">
<h1>Overview</h1>
       <p>
        This self-made web development project is a fully featured blogging platform designed for seamless content creation, management, and interaction. Users can write, edit, and publish blog posts. The site includes user authentication, comments, likes. A responsive design ensures accessibility across all devices. With a secure backend for data management, the platform supports user profiles, post scheduling, and SEO-friendly structures. Whether for personal blogging or professional content sharing, this project delivers a dynamic and user-friendly experience, making it an ideal solution for aspiring writers and content creators.
       </p>
    </div>
    <div>
      <%- include('./partials/footer') %>
    </div>
    <%- include('./partials/scripts') %>
</body>
</html>
