<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Pricing</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="container mt-3 " style="margin:0 auto">
<h1>Pricing</h1>
       <p>
        This blogging platform is completely free—no hidden costs, no subscriptions, and no premium plans all you need is just an account on the platform. Every feature, from creating and publishing blog posts to engaging with readers through comments and likes, is accessible without any fees. Users can enjoy full customization, responsive design, and powerful content management tools without paying a dime. Unlike many platforms that restrict features behind paywalls, this site ensures that everyone, from beginners to seasoned bloggers, has equal access to all its capabilities. Whether for personal expression or professional blogging, you can share your voice with the world—100% free, forever.
       </p>
    </div>
    <div>
      <%- include('./partials/footer') %>
    </div>
    <%- include('./partials/scripts') %>
</body>
</html>
