<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Customers</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="container mt-3 " style="margin:0 auto">
<h1>Sources</h1>
       <p>
        This is a platform built as a project to help understand the depths of web development and its nuances so that the basis is understood on and de to the utility of the project and its simplicity it is entirely open source and visit the source code at <a href="https://github.com/Itz-Varshith/Bloggzz-GDSC">Github</a>
       </p>
    </div>
    <div>
      <%- include('./partials/footer') %>
    </div>
    <%- include('./partials/scripts') %>
</body>
</html>
